*{
    transition: all .2s linear;

}
nav{
    background-color: var(--bg-green);
    z-index: 999;
}
nav  ul{
    list-style: none;

}
nav > ul{
    position: relative;
    display: flex;
    color: white;
}
nav > ul > li {
    cursor: pointer;

}
nav ul > li > span {
    display: block;
    margin: .5vmin;
    font-size: 4vmin;
    /* background-color: violet; */
}
nav ul > li:hover{
    background: white;
    color: var(--bg-green);
} 
nav > ul > li > ul{
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.425);
    display: none;
    background:var(--light);
    padding: 1vmin .3vmin;
}
nav > ul > li:hover ul{
    display: block;
}
nav > ul > li > ul > li{
    margin: 0 2vmin;
    float: left;
}
nav > ul > li > ul > li{
}
nav > ul > li > ul > li > a {
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    color:var(--primary);
    font-size: 2.9vmin;
}

nav > ul > li > ul > li > ul >li {
    /* text-align: center; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
nav > ul > li > ul > li > ul >li  a{
    text-decoration: none;
    color: var(--dark);
    text-transform: capitalize;
    position: relative;
    display: inline-flex;
    text-align: center;
    transition: left ease .3s linear;
    font-size: 2.8vmin;
}

nav > ul > li > ul > li > ul >li  a:hover{
    color: var(--bg-green);
}
nav > ul > li > ul > li > ul >li  a::before{
    content:"\00bb";
    position: absolute;
    left: -3vmin;
    top: -.25vmin;
    opacity: 0;
    transition: all .2s ease;
    text-shadow: 0 0 6px rgba(0,0,0,0.6);
}
nav > ul  li  ul  li ul li:hover a::before{
    left: -1.3vmin;
    opacity: 1;
    color: var(--success);
}
nav ul > li > ul > li  >ul  li:hover a{
    /* text-decoration: none; */
    /* padding-left: 5px; */
    /* left: 20px; */
    transform: translateX(10px);
}   