*{
    transition: all .2s linear;
}
.product-carousel-container {
    /* padding: 0 .6rem; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: .3vmin 0;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
    align-items: flex-start;
    justify-content: flex-start;
    /* padding: .6vmin 0; */
}
.carousel-content  a{
    /* margin: 0 1rem; */
    border-radius: .4rem;
    overflow: hidden;
}
.carousel-content  a:hover{
    /* box-shadow: -1px 1px  20px 0 rgba(0, 0, 0, 0.892);  */
    /* animation: spin 1s linear infinite alternate; */
    z-index: 2;
}
.carousel-content .product{
    box-shadow:  none;
    /* margin: 0 2px; */
}
/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    /* flex-grow: 1; */
    display: flex;
}

.carousel-content.show-2 > * {
    width: 49.99%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}
.carousel-content.show-5 > * {
    width: calc(100% / 4.985);
}
.carousel-content.show-6 > * {
    width: calc(100% / 6);
}
.carousel-content  .product{
    width: 100%;
}
.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(22, 3, 3, 0.692);
    border: 1px solid rgba(22, 21, 21, 0.658);
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.527); */
    text-align: center;
}
.left-arrow svg ,
.right-arrow svg{
    line-height: 10px;
    font-size: 13px;
    color: rgb(227, 229, 230);
    /* font-weight: bold; */
    text-align: center;
}

.left-arrow {
    left: 24px;
}

.right-arrow {
    right: 24px;
}

@media (hover: none) and (pointer: coarse) {
    .left-arrow, .right-arrow {
        display: none;
    }
}



@keyframes spin {
    from{
        box-shadow: 0 0 2px 0  rgba(187, 175, 175, 0.575)
    }to{
        box-shadow: 0 0 12px 2px rgba(185, 181, 181, 0.616);
    }
}